@import url(https://fonts.googleapis.com/earlyaccess/nicomoji.css);

body {
  margin: 0;
  background-image: url(image/background-true.png);
  background-attachment: fixed;
}

.side-width {
  width: 800px;
  margin: 150px auto;
}

header {
  height: 70px;
  width: 100%;
  background-color: #33FFFF;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  font-family: 'Nico Moji';
  font-size: 35px;
  color: #fff;
  width: 300px;
  margin: 0;
  position: relative;
  top: 15px;
  left: 274px;
  display: inline-block;
}

.login-btn {
  font-family: 'Nico Moji';
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  float: right;
  display: block;
  height: 100%;
  width: 120px;
  background-color: #4169e1;
  position: relative;
  right: 274px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.login-btn:hover {
  opacity: 0.7;
  transition: all 0.5s;
}

/* モーダル */
#tomodachi-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
}

.modal {
  position: absolute;
  top: 15%;
  left: 34%;
  background-color: rgb(192, 192, 192);
  border-radius: 30px;
  width: 450px;
  height: 500px;
  text-align: center;
  overflow: hidden;
}

.close-mordal-btn {
  float: right;
  margin: 20px;
}

.close-mordal-btn a {
  display: block;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  line-height: 35px;
  background-color: black;
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.signup-form {
  width: 100%;
  margin: 70px 0;
}

.signup-form h3 {
  font-family: 'Nico Moji';
  font-size: 25px;
  line-height: 35px;
  clear: both;
}

.signup-form input {
  width: 320px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.signup-form input[type="button"] {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  font-family: 'Nico Moji';
  background-color: yellow;
  color: #fff;
  font-size: 40px;
  height: 80px;
}

.signup-form input:last-child {
  margin-top: 30px;
}

.signup-form input[type="button"]:hover {
  background-color: #fff;
  color: yellow;
}

/* jQuery用 */
.error-msg {
  font-size: 14px;
}

.has-error input {
  border: 1px solid red;
}

.has-error .error-msg {
  color: red;
}

.has-success input {
  border: 1px solid #2fb4ce;
}

/* モーダルおわり */
.contents {
  background-color: rgba(192, 192, 192, 0.8);
  height: 400px;
  z-index: 1;
  border-radius: 40px;
}

#main-contents {}

.main-contents-nakami {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.main-contents-nakami h2 {
  font-family: 'Nico Moji';
  font-size: 50px;
  color: white;
}

.tomodachi-btn {
  display: inline-block;
  height: 80px;
  width: 260px;
  background-color: yellow;
  color: #FFFFF0;
  font-family: 'Nico Moji';
  font-size: 35px;
  text-decoration: none;
  line-height: 80px;
  border-radius: 20px;
}

.tomodachi-btn:hover {
  background-color: #fff;
  color: yellow;
}

#question-coner {
  height: auto;
}

.question-coner-nakami h2 {
  font-family: 'Nico Moji';
  font-size: 40px;
  color: white;
}

.question-coner-nakami {
  width: 80%;
  height: 80%;
  padding-top: 30px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
}

.faq-list {
  width: 80%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.faq-list-item {
  margin: 20px;
  border-bottom: 2px solid yellow;
  position: relative;
  cursor: pointer;
  color:#303030;
  text-align: left;
}

.faq-list li span {
  position: absolute;
  top: 0;
  right: 5px;
}

.kotae {
  padding: 10px;
  display: none;
}

footer {
  background-color: #33FFFF;
  height: 40px;
  width: 100%;
  text-align: center;
}

footer small {
  color: white;
  font-family: 'Nico Moji';
  line-height: 40px;
  font-size: 20px;
}
